@import url("https://fonts.googleapis.com/css2?family=Inter&family=Pacifico&display=swap");


body{
    font-family: 'Inter', 
    sans-serif;
}

/**container**/
.container{
    padding-left: 1rem;
    padding-right: 1rem;
}


.container-center{
    max-width: 600px;
    margin: auto;
    }